NODE_ENV = development
DB = mongodb://localhost/tms
URL = http://localhost:3000/
UPLOAD_PATH = /home/algo80/Desktop/Project/propeak-mern/uploads
EMAIL_HOST=abc.brevo.com
EMAIL_USER=abc@smtp-brevo.com
EMAIL_PASS=abcde
EMAIL_FORM=abc@abc.com